{% extends 'UiBundle:Common:base.html.twig' %}

{% block globalMandatoryStylesheet %}
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    {% stylesheets
        'bundles/Ui/global/plugins/font-awesome/css/font-awesome.min.css'
        'bundles/Ui/global/plugins/simple-line-icons/simple-line-icons.min.css'
        'bundles/Ui/global/plugins/bootstrap/css/bootstrap.min.css'
        'bundles/Ui/global/plugins/uniform/css/uniform.default.css'
        'bundles/Ui/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css'
    filter="cssrewrite"
    %}
<link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block themeGlobalStylesheet %}
    {% stylesheets
        'bundles/Ui/global/css/components.min.css'
        'bundles/Ui/global/css/plugins.min.css'
    filter="cssrewrite"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block themeLayoutStylesheet %}
    {% stylesheets
        'bundles/Ui/layout/css/layout.min.css'
        'bundles/Ui/layout/css/themes/darkblue.min.css'
        'bundles/Ui/layout/css/custom.min.css'
    filter="cssrewrite"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block corePluginsJavascript %}
    {% javascripts
    'bundles/Ui/global/scripts/jquery.min.js'
    'bundles/Ui/global/plugins/bootstrap/js/bootstrap.min.js'
    'bundles/Ui/global/plugins/js.cookie.min.js'
    'bundles/Ui/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js'
    'bundles/Ui/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js'
    'bundles/Ui/global/plugins/jquery.blockui.min.js'
    'bundles/Ui/global/plugins/uniform/jquery.uniform.min.js'
    'bundles/Ui/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block themeGlobalJavascript %}
    {% javascripts
    'bundles/Ui/global/scripts/app.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block themeLayoutJavascript %}
    {% javascripts
    'bundles/Ui/layout/scripts/layout.min.js'
    'bundles/Ui/layout/scripts/demo.min.js'
    'bundles/Ui/layout/scripts/quick-sidebar.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block footer %}
<div class="page-footer">
    <div class="page-footer-inner"> 2016 &copy; ICSOC by WangQi.

    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
{% endblock %}







